/* 
===================================
        Common css 
===================================
*/

body{
    background-color: #f1f1f1;
}

.login_wrap{
    background-color: #fff;
}


.loaderSpiner{
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 9999;
    top: 0;
    left: 0;
    opacity: .5;

}
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to { 
        transform: rotate(360deg);
    }
}
 

 @-webkit-keyframes rotate {
    from {
        -webkit-transform: rotate(0deg);
    }
    to { 
        -webkit-transform: rotate(360deg);
    }
}

.load {
    position: absolute;   
	width: 100px;
	height: 100px;
	border:solid 10px #8822aa;
	border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
	border-right-color: transparent;
	border-bottom-color: transparent;
	 -webkit-transition: all 0.5s ease-in;
    -webkit-animation-name:             rotate; 
    -webkit-animation-duration:         1.0s; 
    -webkit-animation-iteration-count:  infinite;
    -webkit-animation-timing-function: linear;
    	
    	 transition: all 0.5s ease-in;
    animation-name:             rotate; 
    animation-duration:         1.0s; 
    animation-iteration-count:  infinite;
    animation-timing-function: linear; 
}

.invoice_header p{
    font-size: 14px;
    line-height: 10px;
}
.company_info img{
    width: 100px;
}
.invoice_body{
    border-top: 2px solid #ddd;
    padding-top: 10px;
}